*{
    background: #bbbbbb;
    font-family: "Averia Sans Libre", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    overflow: hidden;
}

.logoAlura{
    display: flex;
    margin-top: 15px;
    margin-left: 15px;
    width: 120px;
}

main{
    display: flex;
    width: 940px;
    height: 800px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;

}

.seccionPrincipal{
    background: #e2d1d1;
    margin: auto;
    border-radius: 50px;
    margin-right: 5px;
    height: 750px;
    width: 800px;
    box-shadow: 1px 0px 15px 5px black
}

.text-area{
    display: flex;
    resize: none;
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.600);
    min-width: 535px;
    min-height: 500px;
    max-width: 500px;
    max-height: 500px;
    border: 2px solid black;
    border-radius: 50px;
    padding: 20px;
}

.text-area:focus{
    outline: none;
}

.noMayusculas{
    margin-left: 20px;

}

.noMayusculas h2{
     background: #e2d1d1;
}

.noMayusculas h2::before{
    content: url(img/Exclamacion.png);
    margin-right: 5px;
    background: #e2d1d1;
}

.botones{
    display: flex;
    width: 500px;
    height: 80px;
    margin: 20px auto;
    background-color: #e2d1d1;
    padding-top: 10px;
}

.btn-encriptar{
    width: 200px;
    height: 70px;
    font-size: 20px;
    margin: 0 40px;
    border: 2px solid black;
    border-radius: 20px;
    border-top-width: 5px;
    transition: 1s all;
    cursor: pointer;
}

.btn-encriptar:hover{
    border-color:#c71f19;
    background-color: #c71f190c;
}

.btn-encriptar:active{
    border-color: #2c2020;
    background-color: #2c20202c;
    transition: 0.1s;
    transform: scale(1.15);
}

.btn-desencriptar{
    width: 200px;
    height: 70px;
    font-size: 20px;
    margin: 0 40px;
    border: 2px solid black;
    border-radius: 20px;
    border-top-width: 5px;
    transition: 1s all;
    cursor: pointer;
}

.btn-desencriptar:hover{
    border-color:#4c568a;
    background-color: #4c568a33;
}

.btn-desencriptar:active{
    border-color: #0A3871;
    background-color: #0a387131;
    transition: 0.1s;
    transform: scale(1.15);
}

.seccionSecundaria{
    border-radius: 50px;
    background: #D8DFE8;
    width: 400px;
    height: 750px;
    margin: auto;
    box-shadow: 1px 0px 15px 2px black;
    margin-left: 5px;
}

.mensaje{
    background: #D8DFE8;
    background-image: url(img/FiguraEncriptar.png);
    background-repeat: no-repeat;
    background-position: center;
    resize: none;
    border-radius: 50px;
    margin: 20px 5px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    width: 250px;
    height: 400px;
    outline: none;
    pointer-events: none;

}

.mensaje-encontrado{
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    background: #D8DFE8;
}

.mensaje-encontrado h3,p{
    background: #D8DFE8;
    padding: 5px;

}

.botonCopiar{
    display: flex;
    width: 300px;
    height: 90px;
    background: #D8DFE8;
    margin: auto;
    margin-top: 40px;
}

.btn-copiar{
    width: 200px;
    height: 70px;
    font-size: 20px;
    margin: auto;
    border: 2px solid black;
    border-radius: 20px;
    border-top-width: 5px;
    transition: 1s all;
    cursor: pointer;
}


.btn-copiar:active{
    transition: 0.1s;
    transform: scale(1.05);
}


footer{
    margin: 5px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    gap: 0.5rem;
}

footer{
    font-family: "Averia Sans Libre", sans-serif;
}

.imagen-git{
    width: 30px;
}

.imagen-lmt{
    width: 30px;
    height: 30px;
    border-radius: 10px;
}

footer p{
    background-color: #bbbbbb ;
}

/* Media queries */
@media screen and (min-width: 1367px){

    .seccionPrincipal{
        background: #e2d1d1;
        max-width: 1440px;
        margin: auto;
    }

    footer{
        max-width: 1440px;
        margin: auto;
    }

    .text-area{
        
        width: 80%;
    }

    .seccionSecundaria{
        width: 42%;
        margin: auto auto auto 10px;
    }
}

@media screen and (max-width: 768px){
    

    main{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 10px;
        padding-top: 20px;
        width: 100%;
        height: 850px;
    }

    .seccionPrincipal{
        width: 700px;
        height: 530px;
        margin: 0 20px;
    }

    .text-area{
        background: #D8DFE8;
        min-width: 600px;
        max-height: 150px;
        min-height: 300px;
    }

    .seccionSecundaria{
        
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        width: 700px;
        height: 270px;
    }

    .mensaje{
        background-image: none;
        border: 2px solid;
        width: 600px;
        height: 80px;
        margin: 20px 27px 0 27px;
    }

    .mensaje-encontrado{
        margin-top: 5px;
        width: 700px;
        line-height: 10px;
    }

    .botonCopiar{
        margin: auto;
        width: 100px;  
        padding: 0 30px;
    }

    footer{
        margin: auto;
    }
}

@media screen and (max-width: 375px) {

    main{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0 auto;
        width: 200px;
        height: 1000px;
    }

    .seccionPrincipal{
        width: 300px;
        height: 600px;
        margin: 0 20px;
    }

}

/* CSS PROPIO 

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    background: #bbbbbb;
    font-family: "Averia Sans Libre", sans-serif;
}

header{
    padding: 10px 0;
    position: relative; 
}

.logoAlura{
   display: inline-block;
   margin: 5px 0;
   
}

CSS PARA seccionPrincipal 

main{
    width: 940px;
    height: 700px;
    margin: 0 auto;
}

.seccionPrincipal{
    display: flex;
    width: 940px;
    height: 680px;
    margin: 0 auto;
    text-align: center;
    border-radius: 50px;
}

.contenedorTexto{
    box-shadow: 1px 0px 10px 5px black;
    border-radius: 50px;
    background-color: #e2d1d1;
}

#areaTexto{
    border-radius: 50px;
    display: inline-block;
    border: none;
    margin: 10px;
    min-width: 600px;
    min-height: 500px;
    max-width: 500px;
    max-height: 500px;
    padding: 20px;
    font-size: 17px;
    font-family: "Averia Sans Libre", sans-serif;
    font-size: 22px;
    border: 2px solid black;
}

.noMayusculas{
    display: inline-block;
    position: absolute;
    top: 630px;
    margin: 5px 15px;
}

.noMayusculas img{
    display: flex;
    position: absolute;
}

.noMayusculas p{
    display: inline-block;
    position: relative;
    left: 20px;
    font-size: 18px;
}

.botones{
    display: flex;
    position: relative;
    right: 600px;
    top: 600px;
    width: 560px;
    height: 60px;
}

.botones input{
    width: 200px;
    font-size: 20px;
    margin: 0 40px;
    border: 2px solid black;
    border-radius: 20px;
    border-top-width: 5px;
    transition: 1s all;
    font-family: "Averia Sans Libre", sans-serif;
}

.botones input:hover{
    
    border-color:#c71f19;
}

.botones input:active{
    border-color: #2c2020;
    transition: 0.1s;
    transform: scale(1.15);
}

 CSS PARA contenedorImagen 

.contenedorImagen{
    background-color: #F3F5FC;
    box-shadow: 1px 0px 10px 5px black;
    display: inline-block;
    position: relative;
    width: 260px;
    height: 680px;
    text-align: center;
    border-radius: 50px;
    right: 550px;
}

.contenedorImagen img{
    display: inline-block;
    position: relative;
    width: 250px;
    margin: 5px;
    top: 150px;
}

.contenedorImagen h2{
    display: inline-block;
    position: relative;
    top: 170px;
    padding: 5px;
    font-size: 18px;
}

.contenedorImagen p{
    display: inline-block;
    position: relative;
    top: 170px;
    padding: 5px;
    font-size: 18px;
}

.botonCopiar{
    display: flex;
    position: relative;
    right: 770px;
    top: 600px;
    height: 40px;
}

.botonCopiar input{
    width: 100px;
    font-size: 20px;
    margin: 0 40px;
    border: 2px solid black;
    border-radius: 20px;
    border-top-width: 5px;
    transition: 1s all;
    font-family: "Averia Sans Libre", sans-serif;
}

.botonCopiar input:hover{
    background-color: #e2d1d1;
    border-color:#c71f19;
}

.botonCopiar input:active{
    border-color: #2c2020;
    transition: 0.1s;
    transform: scale(1.15);
}

footer{
    display: inline-block;
    position: relative;
    text-align: center;
    margin: 0 auto;
    margin-top: 60px;
}

footer img{
    width: 10%;
    border-radius: 10px;
}

*/


