body{
    background: #bbbbbb;
    font-family: "Averia Sans Libre", sans-serif;
}

/* ------------------------- Header ------------------------- */

.header-logo{
    display: flex;
    margin: 2svh 0 1svh 0;
    height: 5svh;
}

/* ------------------------- Main --------------------------- */

.encoder-container{
    display: flex;
    height: 80svh;
    justify-content: center;
}

/* -------- Encrypt Section -------- */

.encrypt-section{
    display: flex;
    margin: 2svh;
    height: 75%; 
}

.encrypt-area{
    display: flex;
    flex-direction: column;
    background: #e2d1d1;
    width: 60svh;
    height: 73svh;  
    border-radius: 5svh;
    padding: 1.5svh;
    box-shadow: 1px 0px 15px 5px black;  
}

.encrypt-text{
    border: 2px solid black;
    height: 80%;
    border-radius: 5svh;
    padding: 2svh;
    resize: none;
    font-family: "Averia Sans Libre", sans-serif;
    background: rgba(255, 255, 255, 0.600);
    font-size: 1.8svh;
    overflow: auto;
}

.encrypt-text:focus{
    outline: none;
    background-color: #D8DFE8;
}

.encrypt-text:hover{
    cursor: pointer;
    background-color: #D8DFE8;
}

.encoder-alert{
    display: flex;
    align-items: center;
    gap: 0.5svh;
    width: 50svh;
    font-size: 1.8svh;
    margin: 1svh;
}

.encoder-alert img{
    width: 1.7svh;
}


.buttons{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 5svh;
    margin: 1svh;
}

.btn-encrypt{
    width: 20svh;
    height: 6svh;
    font-family: "Averia Sans Libre", sans-serif;
    font-size: 1.8svh;
    border: 0.3svh solid black;
    border-radius: 10svh;
    border-top-width: 0.7svh;
    cursor: pointer;
    transition: 1s all;
    background: #bbbbbb;
}

.btn-encrypt:hover{
    border-color:#c71f19;
    background-color: #c71f190c;
    transform: rotate(3deg);
}

.btn-encrypt:active{
    border-color: #2c2020;
    background-color: #2c20202c;
    transition: 0.1s;
    transform: scale(1.15);
}

.btn-decrypt{
    width: 20svh;
    height: 6svh;
    font-family: "Averia Sans Libre", sans-serif;
    font-size: 1.8svh;
    border: 0.3svh solid black;
    border-radius: 10svh;
    border-top-width: 0.7svh;
    cursor: pointer;
    transition: 1s all;
    background: #bbbbbb;
}

.btn-decrypt:hover{
    border-color:#4c568a;
    background-color: #4c568a33;
    transform: rotate(-3deg);
}

.btn-decrypt:active{
    border-color: #0A3871;
    background-color: #0a387131;
    transition: 0.1s;
    transform: scale(1.15);
}

/* -------- Decrypt Section -------- */

.decrypt-section{
    display: flex;
    margin: 2svh 2svh 2svh 0;
    height: 75%;
}

.decrypt-area{
    display: flex;
    flex-direction: column;
    background: #D8DFE8;
    width: 25svh;
    height: 73svh;  
    border-radius: 5svh;
    padding: 1.5svh;
    box-shadow: 1px 0px 15px 5px black;
    align-items: center;
}

.decrypt-text{
    background: #D8DFE8;
    background-image: url(img/FiguraEncriptar.png);
    resize: none;
    border: none;
    width: 85%;
    height: 60%;
    border-radius: 5svh;
    outline: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30svh;
    padding: 2svh;
    font-size: 1.8svh;
    font-family: "Averia Sans Libre", sans-serif;
    cursor:auto;
}

.decrypt-input{
    text-align: center;
    line-height: 2svh;
    gap: 0.5svh;
    width: 25svh;
    font-size: 1.8svh;
    margin: 3svh;
}

.button-copy{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 5svh;
    margin: 1svh;
}

.btn-copy{
    width: 20svh;
    height: 6svh;
    font-family: "Averia Sans Libre", sans-serif;
    font-size: 1.8svh;
    border: 0.3svh solid black;
    border-radius: 10svh;
    border-top-width: 0.7svh;
    cursor: pointer;
    transition: 1s all;
    background: #bbbbbb;
}

.btn-copy:hover{
    border-color:#0A3871;
    background-color: #0a487134;
}

.btn-copy:active{
    transition: 0.1s;
    transform: scale(1.05);
}

/* ------------------------- Footer --------------------------- */

.contact{
    display: flex;
    width: 100%;
    height: 5svh;
    justify-content: center;
    align-items: center;
    gap: 1svh;
}

.contact p{
    font-size: 1.8svh;
}

.linkeind{
    height: 3svh;
}

.linkeind:hover{
    transform: scale(1.1);
}

.github{
    height: 3svh;
}

.github:hover{
    transform: scale(1.1);
}

/* ------------------------- Media Queries --------------------------- */

/* Media queries para tablets, pantallas mayores que 600px e iguales o menores que 1024px */

@media(min-width:600px) and (max-width:1024px){

    .header-logo{
        width: 2svh;
        height: 4svh;
    }

    .encoder-container{
        width: 100%;
        margin: auto;
        height: 75svh;
        display: flex;
        margin: auto;
        font-size: 1.8svh;
        align-items: center;
        
    }

    /* ------------------------- Encrypt Section --------------------------- */
    .encrypt-section{
        justify-content: center;
        width: 50%;
        height: 90%;
        margin: 1svh;
    }

    .encrypt-area{
        width: 90%;
        height: 95%;
    }

    .encoder-alert{
        width: 95%;
    }

    .buttons{
        width: 95%;
    }

    /* ------------------------- Decrypt Section --------------------------- */
    .decrypt-section{
        display: flex;
        align-items: center;
        width: 40%;
        height: 90%;
        margin: 1svh;
    }

    .decrypt-area{
        width: 90%;
        height: 95%;
    }

    .decrypt-input{
        width: 90%;
        height: 20%;
    }

    .decrypt-input h2{
        width: 100%;
        height: 5svh;
    }

    .decrypt-input p{
        width: 100%;
        height: 5svh;
    }

    .button-copy{
        width: 50%;
    }

    /* ------------------------- Footer --------------------------- */
    .footer{
        width: 100%;
        justify-content: center;
    }
}

/* Media queries pantallas mayores que 1024px */

@media(min-width:1024px){
    
}